# Counting Null Values in Data Frame

You can use the following syntax to count NaN values in Pandas DataFrame:

(1) Count NaN values under a single DataFrame column:
df['column name'].isna().sum()

(2) Count NaN values for all columns entire DataFrame
df.isna().sum()

(3) Count NaN values under an entire DataFrame:
df.isna().sum().sum()

(4) Count NaN values across a single DataFrame row:
df.loc[[index value]].isna().sum().sum()

#Letâ€™s see how to apply each of the above cases using a practical example

In [1]:
#Suppose you created the following DataFrame that contains NaN values:

import pandas as pd
import numpy as np

data = {'first_set': [1,2,3,4,5,np.nan,6,7,np.nan,np.nan],
        'second_set': ['a','b',np.nan,np.nan,'c','d','e',np.nan,np.nan,'f'],
        'third_set':['aa',np.nan,'bb','cc',np.nan,np.nan,'dd',np.nan,np.nan,'ee']
        }

df = pd.DataFrame(data,columns=['first_set','second_set','third_set'])

print (df)

   first_set second_set third_set
0        1.0          a        aa
1        2.0          b       NaN
2        3.0        NaN        bb
3        4.0        NaN        cc
4        5.0          c       NaN
5        NaN          d       NaN
6        6.0          e        dd
7        7.0        NaN       NaN
8        NaN        NaN       NaN
9        NaN          f        ee

Now we will understand how do we calculate NaN values for the the below 4 cases:
1) Under a single DataFrame column
2) For all columns under the entire DataFrame
2) Under the entire DataFrame
3) Across a single DataFrame row

(1) Count NaN values under a single DataFrame column

You can use the following template to count the NaN values under a single DataFrame column:

df['column name'].isna().sum()

In [2]:
count_nan = df['first_set'].isna().sum()

print ('Count of NaN: ' + str(count_nan))

Count of NaN: 3

(2) Count NaN values for all columns entire DataFrame

You can use the following template to count the NaN values all the columns of a DataFrame

df.isna().sum()

In [4]:
df.isna().sum()

first_set     3
second_set    4
third_set     5
dtype: int64

(3) Count NaN values under the entire DataFrame

You can use the following template to count the NaN values for the entire DataFrame

df.isna().sum().sum()

In [5]:
df.isna().sum().sum()

12

(4) Count NaN values across a single DataFrame row:
    
You can use the following template to count the NaN values for a DataFrame row:

df.loc[[index value]].isna().sum().sum()

In [6]:
df.loc[[7]].isna().sum().sum()

2